# Data
data/raw/**
!data/raw/.gitkeep
data/processed/
*.csv
!dbt/seeds/*.csv

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*
!.env.example

# dbt / ML / IDE
dbt/target/
dbt/dbt_packages/
dbt/logs/
mlruns/
mlartifacts/
.idea/
.vscode/
.DS_Store
*.log
.pytest_cache/
